body{
    background-color: greenyellow;
}
h1{
    background-color: cornsilk;
    color: rgb(38,0,255);
}
#show_sketch{
    float: right;
}
#score{
    font-size: 20px;
    margin-left: 10px;
}
#time{
    float: right;
    font-size: 20px;
    margin-right: 10px;
}
p{
    font-size: 25px;
    color: black;
}
#sketch_to_be_drawn{
    color: red;
}